.gr{
  display: grid;
  background-color: #707070;
  width:100%;
  length:500px;
  grid-gap: 1px;
}
.gr>div{
  padding:30px;
}
.one{
  background-color: #563d7c;
  text-align: center;
  font-size: 30px;
  grid-column:3/12;
  grid-row-start: 1;
  grid-row-end: 3;
  color: white;
}
.two{
  background-color:LightSlateGray;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/12;
  padding: 30px;
}
.three:hover{
  background-color: #D3D3D3;
}
.three{

  background-color: white;
  grid-column: 3/12;
  grid-row: 3/12;
}
